비공개페이지

# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# other
.nuxt
dist
.vscode
.idea
newrelic_agent.log
.DS_STORE
.eslintrc

# docs
/docs

# @nuxtjs/pwa
sw.*

.env
.env.development
.env.production
# Optional eslint cache
.eslintcache


cypress/integration/examples
cypress/videos
cypress/screenshots